/* General */
#app {
    margin-top: 32px;
}

/* Header */
.navbar-brand img {
    max-width: 150px;
}

/* Movies */
.movie {
    margin-bottom: 32px;
    transition: ease .5s all;
}

.movie img {
    max-width: 100%;
}

.movie .info {
    display: none;
    position: absolute;
    bottom: 16px;
    left: 16px;
    background: #cb4545;
    color: #fff;
    padding: 4px 8px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #dedede;
    transition: ease .5s all;
}

/* Navigation */
.movie.selected {
    box-shadow: 0px 0px 32px red;
    padding: 0;
    margin-top: -16px;
}

.movie.selected .info {
    display: inline-block;
}

@media screen and (max-width: 480px) {
    /* Movies */
    .movie.selected {
        margin-top: 0;
    }
}